html, body {
  overflow-x: hidden !important;
  width: 100%;
  
}

/* Font */
body{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}